[submodule "src/third_party/oscpack"]
	path = src/third_party/oscpack
	url = https://github.com/RossBencina/oscpack.git
[submodule "src/third_party/libremidi"]
	path = src/third_party/libremidi
	url = https://github.com/celtera/libremidi.git
[submodule "src/third_party/sqmix-mitm"]
	path = src/third_party/sqmix-mitm
	url = https://github.com/tschiemer/sqmix-mitm.git
